@font-face {
    font-family: "Inter", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&family=Inter:wght@300;400;500;600;700;800;900&display=swap");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    
}

:root{
    --bg-color: rgb(250, 250, 250);
    --bg-transparent: rgba(250, 250, 250, 0.8);
    --main-color: #49bd81;
    --heading-color: #2c39b1;
    --text-color: #1f1d1d;
    --other-color: #2ea3f2;

    --h1-font: 2rem;
    --h2-font: 1.5rem;
    --p-font: 1.1rem
}

body{
    color: var(--text-color);
    background: var(--bg-color);
    overflow-x: hidden;
}


.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
}

/* Header Section */
.header{
    background-color: var(--bg-color);
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: 0;
    right: 0;
    left: 0;
    position : fixed;
    z-index: 1000;
    transition: all ease 0.50s;
}

.navlist{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
    
}

.navlist a{
    color: var(--heading-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all ease .40s;
}

.navlist a:hover, .navlist a:focus-within{
    color: var(--other-color)
}

.sr-only{
    display: none;
}


#menu-icon{
    font-size: 3rem;
    color: var(--heading-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 15%;
    background-color: var(--bg-color);
}

.navlist{
    display: flex;
}


.logo{
    height: 2.75em;
    display: flex;
    align-items: center;
}

.logo img{
    width: 50%;
    height: auto;
    border: none;
    margin-left: 5%;
}

/* Home Page CSS */
.section{
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-img{
    margin-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-img img{
    width: 100%;
    border-radius: 0.6rem;
    
}

.section h1, h2{
    color: var(--heading-color);
}
.section h2{
    margin-bottom: 1rem;
}

.section p{
    font-size: var(--p-font);
    color: var(--text-color);
    line-height: 30px;
    margin-bottom: 3rem;
}

.project-goals ul{
    list-style: none;
}

.project-goals li{
    margin-bottom: 1rem;
}


/* Analysis page CSS */
.plot-container{
    width: 100%;
    margin-top: 10rem;
    display: grid;
    gap: 3rem;
    margin-bottom: 3rem;
}


.plot-canvas img{
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}


/* Predict Section */

form{
    margin-top: 10rem;
    display: grid;
    gap: 1rem;
}

.select-container{
    width: 100%;
    color: var(--other-color)
}

.select-btn{
    box-shadow: 0 1px 25px rgba(0, 0, 0, );
    width: 100%;
    height: 4em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
    cursor: pointer;
    background-color: var(--heading-color);
    color: var(--bg-color)
}

.select-btn i{
    font-size: 0.725em;
    color: var(--bg-color);
    transition: all linear 0.20s;
}


.select-content{
    background: var(--bg-color);
    margin-top: 0.5rem;
    width: 100%;
    height: 60%;
    border-radius: 0.5em;
    overflow-y: scroll;
    display: none;
}


.select-container.active .select-content{
    display: block;
}

.select-container.active .select-btn i{
    transform: rotate(-180deg);
}

.select-options{
    border-radius: 0.5em;
    color: var(--bg-color)
}

.select-content, .select-options{
    max-height: 16em;
}

.select-options li{
    height: 3em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--heading-color);
    border: 1px solid var(--other-color);
}

.select-options li:hover{
    background-color: var(--other-color);
}

.text-input{
    display: none;
}

.result-text{
    color: var(--bg-color);
}




.submit-btn{
    padding: 0.5rem 0.5rem;
    background-color: var(--main-color);
    margin-left: 0.8%;
    height: 3.5rem;
    width: 30%;
    color: var(--bg-color);
    border-radius: 0.5rem;
    transition: all ease 0.50s;
    cursor: pointer;
    font-size: var(--p-font);
}

.submit-btn:hover{
    transform: translateY(-5px);
}

.result-container{
    width: 100%;
    height: 30%;
    font-size: var(--p-font);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    padding-left: 0.6em;
    padding-right: 0.2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* xtra small screen */
@media(min-width: 475px){
    .container{
        max-width: 475px
    }
}

/* small screen */
@media(min-width: 640px){
    .container{
        max-width: 640px
    }
}

/* medium screen */
/* setting nagation behaviour for screen smaller than medium*/
@media(max-width: 759px){
    /* header and navigation */
    .header{
        height: 5rem;
    }

    .navlist{
        display: flex;
        flex-direction: column;
        background-color: var(--bg-transparent);
        list-style: none;
        padding: 8rem 5rem;
        margin: 0;
        gap: 2em;
        position: fixed;
        inset:0 0 0 40%;
        border: none;
        transform: translateX(100%);
        transition: all ease-in 0.40s;
    }

    .navlist[data-visible="true"]{
        transform: translateX(0%);
    }

    /* Home Section */
    .section-img{
        margin-top: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* Analyis Section */
    .plot-container{
        margin-top: 6rem;
    }

    /* Predict Section */
    form{
        margin-top: 6rem;
    }
}

@media(min-width: 760px){
    .container{
        max-width: 760px;
    }

    header.sticky{
        padding: 1rem 5%;
        background: var(--bg-color);
        border-bottom: 1px solid #bfc1c5;
    } 

    #menu-icon{
        display: none;
    }

    .navlist{
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
        
    }
    

}

/* large screen */
@media(min-width: 1024px){

    .container{
        max-width: 1024px;
    }

    /* header */
    .header {
        justify-content: space-between;
    }

    /* home page */
    .home-section{
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: baseline;
        gap: 2em;
    }

    .home-title{
        justify-self: center;
        align-self: center;
        align-content: center;
        font-size: var(--h2-font);
        margin-top: 20%;
    }
    .content-section{
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: baseline;
    }

    /* analysis page */

    .plot-container{
        width: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-evenly;
        margin-left: 3rem;
    }

    /* predict page */
    .predict{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2em
    }

    .result-container{
        margin-top: 32%;
        width: 90%;
        padding-left: 1em;
    }

    .submit-btn{
        margin-bottom: 2rem;
    }
    

    
    
}

@media(min-width: 1300px){
    .container{
        max-width: 1300px;
    }

    .navlist a{
        font-size: calc(var(--p-font)  * 1.2);

    }

    .home-title{
        font-size: calc(var(--h2-font) * 1.2);

    } 

     .home-section{
        margin-block: 2rem;
    }

    .section h2{
        font-size: calc(var(--h2-font) * 1.2)
    }

    .section p, .section li{
        font-size: calc(var(--p-font) * 1.2);
    }

    .plot-container{
        width: 90%;
        margin-left: 2rem;
    }

    

    

    /* .navlist a{
        font-size: calc(var(--p-font)  * 1.5);

    } */
}
