{% extends "layout.html" %}
{% block content %}
<div class="container home-section" id="home-page">
    <div class="omdena-kenya-img section-img">
        <img src="https://images.unsplash.com/photo-1597328290883-50c5787b7c7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2FyJTIwYWNjaWRlbnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="car accident image">
    </div>
    <div class="home-title section">
        <h1>Predicting Road Accident Severity in Kenya Using Machine Learning</h1>
    </div>
</div>

<div class="container content-section">
    <div class="problem-statement section">
        <h2>Problem Statement</h2>
        <p> 
            
        Road accidents are a significant public safety concern in Kenya, leading to loss of lives, injuries, 
        and economic costs. These have an effect on society when the sole breadwinner loses their life or is 
        unable to work due to injuries, leaving the family vulnerable to hunger and poverty. 
        Understanding the factors contributing to accidents, identifying accident-prone areas (hotspots), and
        predicting accident severity can play a crucial role in improving road safety measures and preventing
        economic impacts on society.
        </p>
    </div>
    <div class="project-goals section">
        <h2>Project Goals</h2>

        <ul>
            <li>This project aims to leverage machine learning (ML) techniques to analyze and predict road accidents in Kenya.    
            </li>
            <li>Analyze and understand the patterns and contributing factors of accidents on Kenyan roads using historical accident data.    
            </li>
            <li>Identify accident-prone areas (hotspots) by analyzing accidents' spatial and temporal patterns.     
            </li>
            <li>Develop a machine learning model to predict the severity of accidents based on various factors such as road conditions, weather,
                time of day, and vehicle types.
            </li>
        </ul>
        
    </div>
    
</div>
{% endblock %}